body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@page {
    size: 210mm 297mm;
}

@media print {
    header {
        display: none !important;
    }
    .noPrint {display: none !important}
    .qsp > *:not(.testBox) {
        display: none;
    }

    .qsp .testBox .testContainer > *:not(.test) {
        display: none;
    }

    .qsp .testBox .testContainer .test {
        all: unset !important;
    }
}